<div class="container col-9 pt-3">
  <div class="row mt-3 plant-show-card">
        <div class="col-6 pl-0">
          <% if @plant.photo.attached? %>
            <%= cl_image_tag @plant.photo.key, width: 462, height: 400, crop: :fill, class: "w-100" %>
         <% else %>
            <%= cl_image_tag("placeholder-plant", width: 462, height: 400, crop: :fill, class: "w-100") %>
         <% end %>
        </div>
        <div class="col-6 p-3 mt-3 d-flex flex-column justify-content-around">
          <div>
            <h1> <%= @plant.name %> </h1>
              <%= simple_form_for [@plant, @booking] do |f| %>
              <%= f.input :start_date, as: :string, input_html: {id: "start_date"} %>
              <%= f.input :end_date, as: :string, input_html: {id: "end_date"} %>
               <%= f.submit "Book",  class:"btn-main btn-block" %>
          </div>
          <div class="row align-items-center justify-content-between">
            <div class="col-6">
              <h5><%= number_to_currency(@plant.price) %> / day</h5>
            </div>
            <div class="col-6">
            </div>
          </div>
          <% end %>
        </div>
  </div>
</div>
