<%= link_to plant_path(plant), class: "info-window" do %>
  <div style="display: flex">
    <div>
      <h2><%= plant.name %></h2>
      <p><%= plant.address %></p>
    </div>
    <div class="info-window-img">
      <% if plant.photo.attached? %>
        <%= cl_image_tag plant.photo.key, height: 100, width: 100, crop: :fit %>
      <% else %>
        <%= cl_image_tag("placeholder-plant", height: 100, width: 100, crop: :fit) %>
      <% end %>
    </div>
  </div>
<% end %>
